@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<!-- This page is typically not displayed as the user is redirected immediately -->
<div class="container" style="padding: 60px 0; text-align: center;">
    <h2>Logging out...</h2>
    <p>Please wait while we log you out.</p>
</div>