@using SmartTransportation.BLL.DTOs.Payment
@model CreateStripePaymentRequestDto

<h2>Pay Your Booking</h2>

<form method="post">
    <label>Booking ID</label>
    <input asp-for="BookingId" class="form-control" value="@Model.BookingId" />

    <button type="submit" class="btn btn-primary mt-3">
        Follow Payment
    </button>
</form>
